body{
	background-image: url(./background.png);
	font-family: "Verdana", "Tahoma", sans-serif;
	font-size: 8pt;	
}
html{
	margin: 0;
	padding: 0;
}
.main{
	width: 550px;
	float: left;
}
.banner{
	text-align: center;
	background-image: url(./bannerbg.png);
	height: 50px;
}
h1{
	text-align: center;
	font-size: 24pt;
	font-weight: bold;
	font-family: "Tahoma", "Verdana", sans-serif;
	text-shadow: 3px 3px #999999;
}
section{
	margin: auto;
	width: 800px;
	border: 4px gray solid;
	overflow: hidden;
	border-radius: 20px;
}
.starPoint{
	color: red;
	font-size: 48pt;
	font-weight: bold;
	background: url(./rbg.png);
	height: 83px;
}
.articleColumn{
	float: left;
	width: 47%;
	margin-left: 2%;
	padding-bottom: 20pt;
}
.review{
	padding-bottom: 20pt;
}
.reviewBox{
	font-weight: bold;
	font-size: 8pt;
	background-color: #E8DC9B;
	border: 2px gray solid;
	border-radius: 10px;
	padding: 8px;
	overflow: hidden;
}
.reviewBox img{
	margin-right: 5px;
	float: left;
}
.review p:not(.reviewBox) img{
	margin-right: 5px;
	float: left;
}
.affiliation{
	font-style: italic;
}
.side{
	float: right;
	background-color: #A2B964;
	width: 250px;
	font-family: Arial sans-serif;
	font-size: 8pt;
}
.side dl{
	margin-left: 10pt;
}
.side dt{
	font-weight: bold;
}
.side dd{
	padding-bottom: 10pt;
}
.side ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.foot{
	clear: right;
	background-color: #A2B964;
	text-align: center;
}
.foot p{
	padding: 5px;
	margin: 0;
}
.w3c {
	position: fixed;
	bottom: 0;
	right: 0;
	opacity: 0.5;
}